{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Editando {{ bem.slug }} {% endblock %}

{% block content %}

{% if user.is_superuser %}


    <form method="get">
    {{ listing_filter.form }}
        <input type="submit" />
    </form>
    
    <div class="table-responsive">
        <table class="table table-striped">
          
          <tr>
            <th>CODIGO</th>
            <th>DESCRICAO</th>
            <th>LOCAL</th>
            <th>SETOR</th>
      
             
          </tr>

          {% for obj in listing_filter.qs %}
      <tr>
        <a href="{{ product.get_absolute_url }}"></a>
        
        <td><a href="{{ product.get_absolute_url }}">{{ obj.codigo }}</a></td>
  
        <td>{{ obj.descricao }}</td>

        <td>{{ obj.local }}</td>

        <td>{{ obj.setor }}</td>
        
      
      </tr>
      
      {% endfor %}

      <tr>
        <a href=""></a>
        
        <td></a></td>
  
        <td><h6>{{ obj.somas }}</h6></td>
        
      
      
      </tr>


{% else %}
<h1>SEM PERMISSÃO PARA VISUALIZAR</h1>
{% endif %}
{% endblock %}



