{% extends 'base.html' %}

{% load static %}

{% block title %}{{ product.codbem }}{% endblock title %}

<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap CSS-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    


{% block content %}

{% include 'menssagens.html' %}
<div class="container my-3">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
            {% if product.image %}
            <img class="container-fluid" src="/media/{{product.image}}" alt="">
            {% else %}
            <img class="card-img-top" src="{% static 'base/no_image.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-9">
            
            <h5 class="font-weight-bold">PATRIMÔNIO: {{ product.codigo }}</h5>
            <p>{{ product.descricao }}</p>
            <p>Série/Tagservice : {{ product.tag }}</p>
            <p>Categoria : {{ product.categoria.name }}</p>

            {% if product.responsavel %}
            <h6 class="font-weight-bold">Coordenador Responsável </h6>
            <p>{{ product.responsavel }}</p>
            {% else %}

            {% endif %}
            <h6 class="font-weight-bold">Localização</h6>
            <p>{{ product.local }}</p>
            <p>{{ product.setor }}</p>

            <h6 class="font-weight-bold">Vida Útil</h6>
            <p>Compra em, {{ product.data_inicial }}</p>
            {{ product.dt_inicial }}
            <html>
                <head>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                    google.charts.load("current", {packages:["imagebarchart"]});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = google.visualization.arrayToDataTable([
                        [ 'Depreciado , {{ product.dt_inicial }} meses ', 'A Depreciar , {{ product.dt_final}} meses' , ],
                        [      {{ product.dt_inicial }},            {{ product.dt_final}}, ],
                  
                        ]);

                        var chart = new google.visualization.ImageBarChart(document.getElementById('chart_div'));

                        chart.draw(data, {width: 400, height: 240, min: 0});
                    }
                    </script>
                </head>
                <body>
                    <div id="chart_div" style="width: 400px; height: 240px;"></div>
                </body>
                </html>
            
            <p>Fim da vida útil em ,{{ product.data_final }}</p>


            <p>

                {% if user.is_superuser %}
                Voltar para : 
                <a class="text-decoration-none" href="{{ product.categoria.get_absolute_url }}">
                    {{ product.categoria.name }}
                </a>
                
            </p>
              
            <li class="nav-item">
                <a href="{{ product.get_absolute_url_editar }}" class="nav-link lead mr-4 font-weight-bold">Editar</a>

            {% endif %}

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{{ product.get_absolute_url_imagem }}" class="nav-link lead mr-4 font-weight-bold">Foto</a>
            {% endif %}  
            
            <li class="nav-item">
                <a href="{{ product.get_absolute_url_infouso }}" class="nav-link lead mr-4 font-weight-bold">Solicitar Uso</a>
            <li class="nav-item">
                <a href="{{ product.get_absolute_url_infoerro }}" class="nav-link lead mr-4 font-weight-bold">Informar Erro</a>
    
        </div>
    </div>
</div>







{% endblock content %}